$greenlight: #dcdfda;
$greendark: #4b5943;
$greenhover: #8fb43a;

body {
  background: $greenlight;
}

#navbarNav > div.col-8 > ul > li > a,
footer > div > ul > li > a {
  color: $greendark;
}

#navbarNav > div.col-8 > ul > li > a:hover,
footer > div > ul > li > a:hover {
  color: $greenhover;
}

#navbarNav > div.col-8 > ul {
  justify-content: space-evenly;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    height: 100px;
}
